.contact_header {
    width: 100%;
    height: 35vh;
    background-image: url("/assets/porsche-911.jpg");
    background-size: cover;
    background-position: center;
}

.contact_title_container {
    text-align: center;
    padding: 10px 0;
}

.contact_title_container h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(154, 191, 223);
}